.containerAdmin {
    background-image: url("../../assets/admin/bg-2.jpg");
    min-height: 95vh;
    /* Problem : when I put 96 to fit the page perfecly it adds the scroll bar!?!*/
    height: auto;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

h4 {
    font-size: 1.1em;
}

h5 {
    font-size: 1em;
}

.right {
    position: relative;
    float: right;
}

.left {
    position: relative;
    float: left;
}

.clearfix::after {
    content: " ";
    clear: both;
    display: block;
    visibility: none;
}

.caneva {
    background-color: yellow;
    border-style: solid;
    padding: 0;
    margin: 0;
    max-width: 300px;
    min-width: 285px;
    height: 310px;
}

th,
td {
    text-align: left;
}

.trackNameBlock {
    text-align: left;
    background-color: rgb(176, 205, 231);
    width: 75%;
    height: 60px;
}

.trackName {
    margin: 10px 0 0 10px;
}

.descriptionBlock {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.descriptionTitleBloc {
    height: 35px;
    background: brown;
    overflow: hidden;
}

.descriptionTitle {
    margin-top: 8px;
}

.descriptionText {
    margin-top: 2px;
}

.caneva-ft {
    height: 50px;
}

.timePlayed {
    margin-top: 10px;
    margin-left: 10px;
}

.bestTimes {
    margin-right: 10px;
    margin-top: 10px;
}

.button {
    background-color: turquoise;
    margin-right: 15px;
    height: 100%;
    width: 20%;
}

.buttons {
    background-color: green;
    vertical-align: middle;
    width: 25%;
    height: 30px;
    margin-top: 10px;
}

li {
    list-style-type: none;
    font-weight: normal;
    display: inline;
    text-align: right;
    padding: 0;
    margin: 0;
}

left {
    text-align: left;
}

.blue {
    background-color: blue;
}

.orange {
    background-color: orange;
}

.pink {
    background-color: pink;
}

.purple {
    background-color: purple;
}


/*//////////////////////////////////////////////////////////////////////////////////////////////////
table {
    width: 300px;
    height: 350px;
    border-style: solid;
    border-color: rgb(77, 72, 72);
    background-color: aliceblue;
    margin: 10px;
}



*/


/* Popup container - can be anything you want 

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
*/


/* The actual popup 

.popup .popuptext {
    visibility: hidden;
    width: 300%;
    background-color: rgb(126, 199, 144);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}
*/


/* Toggle this class - hide and show the popup 

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
*/