h4 {
    font-size: 1.1em;
}

h5 {
    font-size: 1em;
}

.clearfix::after {
    content: " ";
    clear: both;
    display: block;
    visibility: none;
}

.right {
    position: relative;
    float: right;
}

.left {
    position: relative;
    float: left;
}

.containerAdmin {
    background-image: url("../../assets/admin/bg-2.jpg");
    background-position: center;
    min-height: 95vh;
    /* Problem : when I put 96 to fit the page perfecly it adds the scroll bar!?!*/
    height: auto;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.caneva {
    /* border-style: outset;*/
    padding: 0;
    margin: 0;
    max-width: 300px;
    min-width: 285px;
    height: 310px;
    margin: 25px;
    color: antiquewhite;
    border-color: rgba(179, 180, 180, 0.8);
    font-family: "Lucida Sans Unicode", Arial, sans-serif;
}

.canevaHeader {
    background-color: rgba(49, 49, 49, 0.9);
}

.trackNameBlock {
    width: 75%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.trackName {
    margin: 10px 0 0 10px;
}

.descriptionBlock {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: rgba(127, 127, 127, 0.7);
}

.descriptionTitleBloc {
    height: 35px;
    overflow: hidden;
}

.descriptionTitle {
    margin-top: 8px;
}

.descriptionText {
    margin-top: 2px;
    font-size: 1em;
}

.canevaFooter {
    height: 50px;
    background-color: rgba(105, 105, 105, 0.9);
}

.timePlayed {
    margin-top: 10px;
    margin-left: 10px;
}

.bestTimes {
    margin-right: 10px;
    margin-top: 10px;
}

.button {
    margin-right: 15px;
    height: 100%;
    width: 20%;
    margin-top: 20px;
}

.buttonsBlock {
    vertical-align: middle;
    width: 25%;
    height: 60px;
}

li {
    list-style-type: none;
    font-weight: normal;
    display: inline;
    text-align: right;
    padding: 0;
    margin: 0;
}