<div class="containerAdmin">

    <div class="admin-button">
        <a routerLink="../admin/track-editor/newTrack" class="btn btn-warning">Create new track</a>
    </div>

    <div class="container">
        <div class="row">
            <div class="col col-md-4 caneva" *ngFor="let track of tracks; let trackIndex = index;">
                <div class="">
                    <!-- If we want to make it work with col-md-4 -->
                    <div class="canevaHeader clearfix">
                        <li class="trackNameBlock left">
                            <h4 class="trackName"> {{track.name}} </h4>
                        </li>
                        <div class="iconsBlock right">
                            <li>
                                <a routerLink="../admin/track-editor/{{track.name}}"><i class="icon icon-edit"></i></a>
                            </li>
                            <li>
                                <div (click)="deleteTrack(track.name)"><i class="icon icon-delete"></i></div>
                            </li>
                        </div>

                    </div>

                    <div class="descriptionBlock">
                        <div class="descriptionTitleBlock">
                            <div>
                                <h5 class="descriptionTitle"> Description </h5>
                            </div>
                        </div>
                        <div class="descriptionText "> {{track.description}} </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>
