<div class="admin-bar">
    <a routerLink="../../" class="admin-btn btn btn-warning">Admin</a>
</div>

<h3> Track Edition </h3>

<div class="left">
    <div class="">
        <div class="caneva right">
            <div class="">
                <div class="canevaHeader clearfix">
                    <h4 class="trackName "> Track name </h4>

                    <input class="trackName" type="text" maxlength="30" value=track.name [(ngModel)]="name" (keypress)="isAlphaNum($event.charCode)">

                </div>

                <div class="descriptionBlock">
                    <div class="descriptionTitleBlock">
                        <div>
                            <h5 class="descriptionTitle"> Description </h5>
                        </div>
                    </div>
                    <textarea class="descriptionText" rows="10" cols="25" maxlength="300" value=track.description [(ngModel)]="description"></textarea>
                </div>
                <div (click)="saveTrack(); invalidTrackPopupFunction(); validTrackPopupFunction();" class="btn btn-success popup btn-save">
                    Save track
                    <span class="popuptext" id="invalidPopup"> Sorry, can't save an invalid track! </span>
                    <span class="popuptext" id="validPopup"> Your track has been saved! </span>
                </div>
                <a routerLink="/admin" class="btn-warning btn btn-sm">Return to track list</a>

            </div>
        </div>
    </div>
</div>

<div class="right">
    <div class="track-editor">
        <app-track-editor></app-track-editor>
    </div>
</div>