<h3> Un Bô P'tit Titre</h3>

<div class="left">
    <div class="track-informations">
        <h3> Proposisions de même vous pourriez mettre vos trucs ici ^^ </h3>
    </div>
</div>

<div class="right">
    <div class="track-editor">
        <app-track-editor></app-track-editor>
    </div>
</div>

<!-- Faudra clean après la class right sinon vous aller avoir des 
éléments qui vont se retrouver en dessous des div right et left-->
<div class="save-button">
    <a routerLink="#" class="btn btn-success">Save track</a>
</div>