table {
    width: 75%;
    background-color: rgba(255, 255, 255, 0.61);
}

thead,
tbody {
    display: block;
    width: 100%;
    font-size: 16px;
    border: 1.5px solid black;
}

.title {
    color: black;
    padding: 1vh;
}

tbody {
    height: 14.5em;
    border-top: none;
    overflow-y: auto;
    overflow-x: hidden;
}

span {
    margin: 1vw;
    color: black;
    font-weight: bold;
}

tr,
div {
    width: 100%;
}

li {
    color: black;
    width: 40vw;
    list-style-type: none;
    font-weight: normal;
    padding: 0px 3vw;
    margin: 0 0.5px;
    cursor: pointer;
}

li:hover {
    background: lightblue;
    color: black;
}

.selected {
    background: rgb(66, 120, 163);
    color: white;
}

.selected:hover {
    background: rgb(56, 110, 133);
    color: white;
}

.localValidatedDefinition {
    background: #dc6256;
    color: white;
    font-weight: bold;
    pointer-events: none;
}

.remoteValidatedDefinition {
    background: #62a8ca;
    color: white;
    font-weight: bold;
    pointer-events: none;
}

.button {
    margin-top: 10px;
}

.toggled {
    color: white;
    background: #dc6256;
}

.untoggled {
    color:white;
    background: #64b0a1;
}

thead[_ngcontent-c4], tbody[_ngcontent-c4] {
    border: 0px !important;
}

