<table>
    <thead>
        <tr>
            <th class="title">Horizontal:</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of getVerticalDefinitions(); let indexR = index;" class="index">
            <div *ngIf="row.length > 0">
                <span>{{indexR+1}}.</span>
                <li *ngFor="let definition of row; let indexI = index;" 
                    (click)="onSelect(definition); $event.stopPropagation()" 
                    [class.selected]="isSelectedDefinition(definition)" 
                    [class.remoteValidatedDefinition]="isHostValidatedDefinition(definition)"
                    [class.localValidatedDefinition]="isGuestValidatedDefinition(definition)">

                    [{{indexI+1}}] {{isCheatMode? wordService.getWordWithDefinition(definition) : definition}}
                </li>
            </div>
        </tr>
    </tbody>
</table>
<table>
    <thead>
        <tr>
            <th class="title">Vertical:</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of getVerticalDefinitions(); let indexR = index;" class="index">
            <div *ngIf="row.length > 0">
                <span>{{indexR+1}}.</span>
                <li *ngFor="let definition of row; let indexI = index;" 
                    (click)="onSelect(definition); $event.stopPropagation()" 
                    [class.selected]="isSelectedDefinition(definition)" 
                    [class.remoteValidatedDefinition]="isHostValidatedDefinition(definition)"
                    [class.localValidatedDefinition]="isGuestValidatedDefinition(definition)">

                    [{{indexI+1}}] {{isCheatMode? wordService.getWordWithDefinition(definition) : definition}}
                </li>
            </div>
        </tr>
    </tbody>
</table>
<div class="button">
        <button [class.toggled]="isCheatMode" [class.untoggled]="!isCheatMode" (click)="switchMode()"> Switch to  {{ (isCheatMode ? 'Normal' : 'Cheat')}} Mode</button>
</div>
