
thead, tbody {
    display: block;
    font-size: 1vw;
    border: 1.5px solid black;
}

.title {
    color: black;
    padding: 1vh;
}

tbody {
    border-top: none; 
    height: 14.5em;
    overflow-y: auto;
    overflow-x: hidden;
}

span {
    margin: 1vw;
    color: black;
    font-weight: bold;
}

li {
    color: black;
    list-style-type: none;
    font-weight: normal;
    padding: 0px 3vw;
    cursor: pointer;
}

li:hover {
    background: lightblue;
    color: black;
}

.selected {
    background: rgb(66, 120, 163);
    color: white;
}

.selected:hover {
    background: rgb(56, 110, 133);
    color: white;
}
