<table class="table">
    <thead>
        <tr>Across</tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of horizontalDefinitions; let indexR = index;" class="index">
            <div *ngIf="row.length > 0">{{indexR+1}}.
                <li *ngFor="let definition of row; let indexI = index;">
                    [{{indexI+1}}] {{definition}}
                </li>
            </div>
        </tr>
    </tbody>
</table>
<table class="table">
    <thead>
        <tr>Down</tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of verticalDefinitions; let indexR = index;" class="index">
            <div *ngIf="row.length > 0">{{indexR+1}}.
                <li *ngFor="let definition of row; let indexI = index;">
                    [{{indexI+1}}] {{definition}}
                </li>
            </div>
        </tr>
    </tbody>
</table>