    div {
        width: 100%;
        height: 50vw;
        margin: 0;
    }
    
    ul {
        position: relative;
        margin: 0;
    }

    li {
        position: relative;
        margin: 0;
        /*top: 80px;*/
        color: blue;
        list-style-type: none;
        font-family: 'Allerta Stencil', sans-serif;
        font-size: 30px;
    }