<div class="background">

  <div #container id="container">

    <div class="lap">
      1 / 3
    </div>


    <div class="speed">
      <ul>
        <li>Speed: {{this.renderService.car.speed.length() * 3.6 | number :'2.2-2'}} km/h</li>
        <li>RPM: {{this.renderService.car.rpm | number:'2.0-0'}}</li>
        <li>Gear: {{this.renderService.car.currentGear + 1}}</li>
      </ul>
    </div>

    <div (click)="deleteTrack(track.name)">
            <i class="icon icon-delete"></i>
        </div>
        
    <div class="exit">
      <a routerLink="../racing-game" class="game-btn btn btn-warning">Exit</a>
    </div>

    <div class="time">
        Time : 00 : 32 : 59 <br>
         Lap Time : 00 : 01 : 59
    </div>

    <div class="position">
      1
    </div>



  </div>
</div>
