<div class="background">

  <div #container id="container">

    <div class="lap">
      <app-lap></app-lap>
    </div>

    <div class="speed">
      <app-speed></app-speed>
    </div>

    <div class="exit">
      <a routerLink="../racing-game"><i class="icon-exit"></i></a>
    </div>

    <div class="time">
      <app-time></app-time>
    </div>

    <div class="position">
      <app-position></app-position>
    </div>


    <!-- testing -->
    <div class="bestTimes">
      <app-best-times></app-best-times>
    </div>

  </div>
</div>
