.background {
    width: 100%;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background: url("../../../assets/game-scene/scene-bg.jpg") fixed no-repeat;
    background-position: center auto;
    height: auto; 
    min-height: 100vh;
    background-size: cover; 
}

#container {
  width: 80%;
  height: 40vw;
  position: absolute;
}

.lap {
    top: 0px;
    left: 40px;
    z-index: 10;
    margin: 0;
    padding: 0;
    position: absolute;
    font-family: 'Allerta Stencil', sans-serif, bold;
    font-size: 5em;
    color: #6FC3DF;
}

.speed {
    top: 120px;
    left: 30px;
    margin-top: 0px;
    margin-left: 0px;
    z-index: 10;
    position: absolute;
}

.exit {
    top: 20px;
    right: 20px;
    z-index: 11;
    position: absolute;
}

.time {
    top: 18px;
    right: 30px;
    z-index: 10;
    position: absolute;
    font-family: 'Allerta Stencil', sans-serif, bold;
    font-size: 2em;
    color: #6FC3DF;
    width: 360px;    
}

.position {
    bottom: 60px;
    left: 70px;
    z-index: 10;
    position: absolute;
    font-family: 'Allerta Stencil', sans-serif, bold;
    font-size: 5em;
    color: #6FC3DF;
}

.icon-exit {
    background: url("../../../assets/hud/x.png");
    float: right;
    cursor: pointer;
    background-repeat: no-repeat !important;
    background-size: 30px !important;
    height: 30px;
    width: 30px;

}

.bestTimes {   
    position: absolute;
    top: 140px;
    right: 450px;
    color: red;
}


/* Desktops and laptops ----------- 
@media only screen and (min-width : 1224px) {
   li {
    font-size: 2em;
   }
}

/* Large screens ----------- 
@media only screen and (min-width : 1824px) {
    li {
        font-size: 3em;
    }
}
*/