<button routerLink="../..">Back</button>
<p>Username:
    <input [(ngModel)]="configurationHandlerService.username">
</p>
<p>Difficulty:</p>
<app-configuration></app-configuration>
<div class="configuration">
    <div *ngIf="isValidConfiguration(); else elseBlock">
        <button class="create" (click)="createGame(configurationHandlerService.username)">Create Game</button>
    </div>
    <!-- routerLink="../../{{difficulty}}/ui" -->
    <ng-template #elseBlock>
        <button class="create" disabled="true">Create Game</button>
    </ng-template>
</div>