<div class="configuration">
    <h4>Game Configuration</h4>
    <div class="difficuly">
        <p>
            Select difficulty:
        </p>

        <input type="radio" (click)="updateLink('easy')"> Easy <br>
        <input type="radio" (click)="updateLink('normal')"> Normal <br>
        <input type="radio" (click)="updateLink('hard')"> Hard <br>

        <div *ngIf="link; else elseBlock">
            <button routerLink={{link}}>Create Game</button>
        </div>

        <ng-template #elseBlock>
            <button disabled="true">Create Game</button>
        </ng-template>

    </div>
</div>