
<div class="configuration">
    <h4>Game Configuration</h4>
    <div class="difficuly">
        <p>
            Select difficulty:
        </p>

        <input type="radio" [(ngModel)]="difficulty" value="easy">  Easy <br>
        <input type="radio" [(ngModel)]="difficulty" value="normal">  Normal <br>
        <input type="radio" [(ngModel)]="difficulty" value="hard">  Hard <br>

        <div *ngIf="difficulty; else elseBlock"> 
            <button routerLink="{{difficulty}}/ui">Create Game</button>
        </div>

        <ng-template #elseBlock>
            <button disabled="true">Create Game</button>
        </ng-template>
    
    </div>
</div>  