<div class="configuration">
    <h4>Game Configuration</h4>
    <div class="difficuly">
        <p>
            Select difficulty:
        </p>

        <input type="radio" [(ngModel)]="difficulty" value=Difficulty.EASY> Easy <br>
        <input type="radio" [(ngModel)]="difficulty" value=Difficulty.NORMAL> Normal <br>
        <input type="radio" [(ngModel)]="difficulty" value=Difficulty.HARD> Hard <br>

        <div *ngIf="difficulty; else elseBlock">
            <button routerLink="{{difficulty}}/ui">Create Game</button>
        </div>

        <ng-template #elseBlock>
            <button disabled="true">Create Game</button>
        </ng-template>

    </div>
</div>