.admin-bar {
    margin-left: 5%;
    margin-right: 15%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
}

.optionBtn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.admin-btn {
    margin-top: 2%;
}

.scene-btn {
    margin-top: 2%;
    margin-left: 10px;
}

h4 {
    font-size: 1.1em;
}

h5 {
    font-size: 1em;
}

.modal-content {
    color: black;
}

.clearfix::after {
    content: " ";
    clear: both;
    display: block;
    visibility: none;
}

.right {
    position: relative;
    float: right;
}

.left {
    position: relative;
    float: left;
}

.containerTrackList {
    background: url("../../assets/admin/background.jpg") fixed no-repeat;
    background-position: center auto;
    background-size: 220vh;
    min-height: 95vh;
    margin: 0;
}

.caneva {
    /* border-style: outset;*/
    padding: 0;
    margin: 0;
    max-width: 300px;
    min-width: 285px;
    height: 620px;
    margin: 25px;
    color: whitesmoke;
    border-color: rgba(179, 180, 180, 0.8);
    font-family: "Lucida Sans Unicode", Arial, sans-serif;
}

.canevaHeader {
    background-color: rgba(49, 49, 49, 0.9);
}

.trackNameBlock {
    width: 75%;
    height: 60px;
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.trackName {
    margin: auto;
    overflow-y: hidden;
}

img.resize {
    width: 300px;
    height: 285px;
}

.descriptionBlock {
    height: 215px;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: rgba(127, 127, 127, 0.7);
    cursor: default;
    padding-top: 10px;
}

.descriptionTitleBlock {
    height: 35px;
    overflow: hidden;
    font-size: 1.1em;
}

.descriptionTitle {
    margin-top: 8px;
}

.descriptionText {
    margin-top: 2px;
    font-size: 1em;
}

.canevaFooter {
    height: 50px;
    background-color: rgba(105, 105, 105, 0.9);
}

.timesPlayed {
    font-size: 15px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    cursor: default;
}

.bestTimes {
    color: lightgray;
    font-size: 15px;
    font-weight: bold;
    margin-right: 15px;
    margin-top: 10px;
    float: right;
}

.bestTimes:hover {
    color: white;
    margin-right: 13px;
    margin-top: 8px;
    font-size: 16px;
    cursor: pointer;
}

.iconsBlock {
    float: right;
    vertical-align: middle;
    width: 25%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    background-repeat: no-repeat !important;
    background-size: 16px !important;
    height: 20px;
    width: 20px;
    margin-right: 40px;
    font-size: 20px;
}

li {
    list-style-type: none;
    font-weight: normal;
    display: inline;
    text-align: right;
    padding: 0;
    margin: 0;
}

.difficulty{
    font-weight: 500;
    font-size: 20px;
    color: rgb(113, 114, 121);
    padding-right: 6%;
}

.easy{
    font-weight: 500;
    font-size: 30px;
    color: rgb(0, 255, 0);
    padding-right: 6%;

}

.hard{
    font-weight: 500;
    font-size: 30px;
    color: rgb(255, 0, 0);
    padding-right: 6%;
}



/*SLIDER CSS*/
.sliderBox {
    margin-top: 3%;
    margin-left: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 255, 0);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(255, 0, 0);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }