<div class="">
  <div class="canevaHeader clearfix">
    <li class="trackNameBlock left">
      <h4 class="trackName"> Best Times </h4>
    </li>
  </div>

  <div class="descriptionBlock container">
      <div class="row"> 
          <div class="playerResult row">
              <div class ="name col-6">
                allo
              </div>
              <div class ="time col-6">
                allo
              </div>
            </div>
      </div>
  </div>


  <div class="canevaFooter clearfix">
    <div class="bestTimes btn-sm"> TrackList </div>
    <div class="bestTimes btn-sm"> Next </div>
    <div class="bestTimes btn-sm"> Previous </div>
    
  </div>

</div>
