<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="homepage">LOG2990-04</a>
        </div>
        <ul class="nav navbar-nav">
            <li routerLinkActive="active"><a routerLink="homepage">Homepage</a></li>
            <li routerLinkActive="active"><a routerLink="crossword-game">CrosswordGame</a></li>
            <li routerLinkActive="active"><a routerLink="racing-game">RacingGame</a></li>

        </ul>
    </div>
</nav>


<router-outlet></router-outlet>