<!--<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="homepage">LOG2990-04</a>
        </div>
        <ul class="nav navbar-nav">
            <li routerLinkActive="active"><a routerLink="homepage">Homepage</a></li>
            <li routerLinkActive="active"><a routerLink="crossword-game">CrosswordGame</a></li>
            <li routerLinkActive="active"><a routerLink="racing-game">RacingGame</a></li>

        </ul>
    </div>
</nav>!-->

<div class="nav-container">
    <nav class="navbar navbar-expand-sm navbar-light bg-faded">

        <!-- Brand -->
        <a class="navbar-brand" routerLink="homepage">LOG2990-04</a>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="nav-content">
            <ul class="navbar-nav">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="homepage">Homepage</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="crossword-game">Crossword Game</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="racing-game">Racing Game</a>
                </li>
            </ul>
        </div>
    </nav>

</div>


<router-outlet></router-outlet>