.difficulty {
    display: block;
    font-weight: bold;
    font-size: 20px;
    padding-top: 2em;
}

.player {
    font-size: 19px;
    font-weight: bold;
    width: 100px;
    /* background-color: yellow; */
}

.p1 {
    color: #62a8ca;
}

.p2 {
    color: #dc6256;
}

button {
    display: block;
}

.scoreBoard {
    /* justify-content: center;
    align-items: center;
    text-align: center; */
    margin: auto;
    width: 20%;
    height: 100px;
}

.right {
    position: relative;
    float: right;
}

.left {
    position: relative;
    float: left;
}

.clearfix::after {
    content: " ";
    clear: both;
    display: block;
    visibility: none;
}

.scores {
    width: 50%;
    float: left;
}
