.difficulty {
    display: block;
    font-size: 50px;
    text-align: center;
    color: white;
    margin-top: 20px;
}

.player {
    float: left;
    font-size: 45px;
    width: 500px;
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.p1 {
    color: #62a8ca;
}

.p2 {
    color: #dc6256;
}

.align {
    display: inline-block;
    text-align: center;
}

.clearfix::after {
    content: " ";
    clear: both;
    display: block;
    visibility: none;
}

.wrapper {
    text-align: center;
}