.game {
    display: grid;
    grid-template-columns: 29em 50%;
    grid-column-gap: 8vw;
    padding-left: 10em;
}

.informations {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: auto;
}

.grid {
    grid-column: 1;
    grid-row: 2/4;
    width: 27em;
    margin-left: 1em;
}

.definitions {
    width: 40vw;
    grid-column: 2;
    grid-row: 1 / 4;
    margin-top: 3em;
}

button {
    margin-left: 6em;
}