/* jaune : #e8c77f
gris : #e4e8e7
vert : #64b0a1
bleu : #62a8ca
roubge : #dc6256 */

.game {
    display: grid;
    grid-template-columns: 29em 50%;
    grid-column-gap: 8vw;
    padding-left: 10vw;
}

.informations {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: auto;
}

.clearfix::after {
    content: " ";
    clear: both;
    display: block;
    visibility: none;
}

.grid {
    grid-column: 1;
    grid-row: 2/4;
    width: 506px;
    margin: auto;
    margin-top: 25px;
}

.definitions {
    width: 40vw;
    grid-column: 2;
    grid-row: 1/4;
    margin-top: 3em;
}

.buttonTop {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    padding: 0 10px;
    margin: 20px;
}

.button {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    padding: 0 10px;
}


.gridContainer {
    width: 49%;
    float: left;
    height: 50vh;
}

.definitionsContainer {
    width: 49%;
    float: left;
}

.InformationsContainer {
    margin: 0;
}

.gameUI {
    margin: 0;
}

.background {
    background: url("../../../assets/game-configuration/wood.jpg") round;
    background-position: center auto;
    background-size: cover;
    min-height: 150vh;
    margin: 0;
}