<div class="background">
    <h1 class="title">Crossword Game</h1>
    <div class="centered">
        <ul id="nav">
            <li>
                <button class="button" routerLink="selectDifficulty">Play solo game</button>
            </li>
            <li>
                <button class="button" routerLink="create-multiplayer-game">Create multiplayer game</button>
            </li>
            <li>
                <button class="button" routerLink="lobby">Join multiplayer game</button>
            </li>
        </ul>
    </div>
</div>