<div class="containerTrackList">


    <div class="admin-bar">
        <a routerLink="../admin" class="admin-btn btn btn-warning">Admin</a>
        <a routerLink="../racing-game-scene" class="scene-btn btn btn-info">Racing game scene</a>
    </div>

    <div class="container">
        <div class="row">
            <div class="col col-md-4 caneva" *ngFor="let track of tracks; let trackIndex = index;">

                <div class="">
                    <div class="canevaHeader clearfix">
                        <li class="trackNameBlock left">
                            <h4 class="trackName"> {{track.name}} </h4>
                        </li>
                        <div class="iconsBlock right">
                            <a routerLink="../racing-game-scene/{{track.name}}">
                                <i class="icon">PLAY</i>
                            </a>
                        </div>
                    </div>
                    <div class="descriptionBlock">
                        <img class="resize" src={{track.image}}>
                    </div>
                    <div class="descriptionBlock">
                        <div class="descriptionTitleBlock">
                            <div>
                                <h5 class="descriptionTitle"> Description </h5>
                            </div>
                        </div>
                        <div class="descriptionText "> {{track.description}} </div>
                    </div>





                    <div class="canevaFooter clearfix">
                        <div class="timesPlayed btn-sm"> Played {{track.timesPlayed}} times </div>
                        <span class="bestTimes btn-sm" data-toggle="modal" attr.data-target=#{{track.name}}> Best Times</span>
                    </div>

                    <div class="modal fade" attr.id={{track.name}} role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Best Times</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <div *ngFor="let entry of track.bestTimes; let entryIndex = index;">Time: {{entry[1]}} - Player: {{entry[0]}}</div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>