<p>
    grid works!
</p>

<div id="wrapper">
    <!-- 10 x 10 block -->
    <!-- Numbers -->
    <div class="filled"></div>
    <div class="empty">1</div>
    <div class="empty">2</div>
    <div class="empty">3</div>
    <div class="empty">4</div>
    <div class="empty">5</div>
    <div class="empty">6</div>
    <div class="empty">7</div>
    <div class="empty">8</div>
    <div class="empty">9</div>
    <div class="empty">10</div>
    <!-- first row 
    input example : <input id="item1-11" class="crossword-board__item" 
                    type="text" minlength="1" maxlength="1" pattern="^[lL]{1}$" 
                    required="required" value="" />-->
    <div class="empty">1</div>
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <!-- second row -->
    <div class="empty">2</div>
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <!-- third row -->
    <div class="empty">3</div>
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <!-- fourth row -->
    <div class="empty">4</div>
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <!-- fifth row -->
    <div class="empty">5</div>
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <!-- sixth row -->
    <div class="empty">6</div>
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <!-- seventh row -->
    <div class="empty">7</div>
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <!-- eighth row -->
    <div class="empty">8</div>
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <!-- ninth row -->
    <div class="empty">9</div>
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <!-- tenth row -->
    <div class="empty">10</div>
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
    <input class="empty" minlength="1" maxlength="1" />
</div>

<p>
    end of grid component
</p>