.header {
    background-color: gray;
}

.filled {
    background: black;
    font-size: 0px;
    pointer-events: none;
}

.grid {
    width: 57vh;
    height: 0vh;
    margin-left: 4%;
}

.col {
    text-align: center;
    width: 3vh;
    height: 5.5vh;
    border: 1px simple;
    padding: 0;
    margin: 0;
    float: left;
    text-transform: capitalize;
    font-size: 3vh;
    cursor: pointer;
}

.selected {
    /* outline: 2px dashed red;
    box-shadow: 0 0 0 2px blue;
    border: 0px simple;*/
    border-color: blue;
    border-style: dotted;
}