<div>
  <!--row of index!-->
  <div class="row">
    <div class="col" id="header"></div>
    <div *ngFor="let block of gridService.userGridService.userGrid[0]; let index = index;" class="col" id="header">{{index+1}}</div>
  </div>
 
    <div *ngFor="let row of gridService.userGridService.userGrid; let indexR = index;" class="row">
        <!--first cell with index!-->
        <div class="col" id="header">{{indexR+1}}</div>
        <input *ngFor="let block of row; let indexC=index; trackBy: trackByIndex" type="text"
               value={{block}}
               [attr.id]="gridService.generateId(indexR, indexC)"
               class="col"
               [class.localValidatedCell]="gridService.isHostValidatedCell(indexR, indexC)"
               [class.remoteValidatedCell]="gridService.isGuestValidatedCell(indexR, indexC)"
               [class.bothValidatedCell]="gridService.isBothValidatedCell(indexR, indexC)"
               [disabled]="gridService.isValidatedCell(indexR, indexC)"
               [class.remoteSelected]="gridService.isGuestSelectedWord(indexR, indexC)"  
               [class.localSelected]="gridService.isHostSelectedWord(indexR, indexC)"
               [class.bothSelected]="gridService.isBothSelectedWord(indexR, indexC)"
               [class.filled]="block === '-'"
               [(ngModel)]="gridService.userGridService.userGrid[indexR][indexC]"
               (keydown)="gridService.keyDown($event.keyCode, indexR, indexC)"
               (keyup)="keyUp(indexR, indexC)"
               (click)="onSelect(indexR, indexC); $event.stopPropagation()"
               maxlength=1
               size=1
               tabindex="-1">
    </div>
</div>