.header {
    background-color: gray;
}

.filled {
    background: black;
    font-size: 0px;
    pointer-events: none;
}

.grid {
    width: 50vw;
    height: 50vw;
    margin: 0 auto;
}

.col {
    text-align: center;
    vertical-align: middle;
    width: 3vw;
    height: 4.5vw;
    border: 1px solid black;
    padding: 0;
    margin: 0;
    float: left;
    text-transform: capitalize;
    font-size: 3vw;
}