#header {
    background-color: #64b0a1 !important;
    cursor: default !important;
}

.header {
    background-color: #64b0a1;
    cursor: default !important;
}


.localValidatedCell {
    background-color: #62a8ca !important;
    color: white !important;
 }
 
 .remoteValidatedCell {
    background-color: #dc6256 !important;
    color: white !important;
 }

 .bothValidatedCell {
    background: repeating-linear-gradient(
        -45deg,
        #dc6256,
        #62a8ca 10px,
        #dc6256 10px,
        #62a8ca 20px
      );
}

.filled {
    color: rgba(76, 76, 76, 0.8) !important;
    background: #4c4c4c !important;
    font-size: 0px;
    pointer-events: none;

    /* hide text behind black cells when ctrl-a */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.col {
    font-size: 1.3em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 48px !important;
    width: 46px !important;
    border: 3px solid;
    border-color: rgba(76, 76, 76, 0.8);
    padding: 0;
    margin: 0;
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;
    background-color: #e8c77f;
}

.localSelected {
    border: 3px solid #62a8ca;
}

.remoteSelected {
    border: 3px solid #dc6256;
}

.bothSelected {
    border-image: url("../../../assets/grid/dashed.jpg") 1 1 1 1;
}
