<div class="modal fade" id="endOfGame" role="dialog" [ngStyle]="{'display': isEndOfGame() ? 'block' : 'none', 'opacity': 1}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div *ngIf="isVictorious(); else elseBlock">
                    <h4 class="modal-title" >Congratulation!</h4>
                </div>
            
                <ng-template #elseBlock>
                    <h4 class="modal-title">ohh... well that's sad :(</h4>
                </ng-template>
                <div *ngIf="gameState.isMultiplayer">
                    <div class="modal-body"> {{gameState.hostName}} : {{gameState.hostScore}} </div>
                    <div class="modal-body"> {{gameState.guestName}} : {{gameState.guestScore}} </div>
                </div>
            </div>
            <div class="modal-body"> 
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="returnToMenu()">Go to menu</button>
                <button type="button" id="restart" class="btn btn-default" data-dismiss="modal" (click)="restart()">Restart</button>
            </div>
        </div>
    </div>
</div>
 
<div *ngIf="isWaitingForOpponent">
    <div class="loading-gif"></div>
    <div class="loading-text">Waiting for new game</div> 
</div>